body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body > * {
  margin: 8px;
}
.one {
  text-decoration: none;
  color: #272727;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}
.one:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fff200;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: transform 1s;
}
.one:hover:before {
  transform: rotate(0deg);
}
.two {
  text-decoration: none;
  color: #272727;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  transition: color 1s;
  overflow: hidden;
}
.two:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #272727;
  transform: translateX(-100%);
  transition: transform 1s;
}
.two:hover:before {
  transform: translateX(0);
}
.two:hover {
  color: #fff;
}


.three {
  text-decoration: none;
  color: #272727;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}
.three:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "YEAH!";
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: orangered;
  transform: translateY(-100%);
  transition: 0.2s;
}
.three:hover:before {
  transform: translateY(0);
}

.four {
  text-decoration: none;
  color: #272727;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  transition: 1s;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  justify-self: flex-start;
}
.four:before {
  content: "Scale & Opacity";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  color: #fff;
  transform: scale(5);
  opacity: 0;
  transition: 0.5s;
}
.four:hover:before {
  transform: scale(1);
  opacity: 1;
}
.four:hover {
  color: transparent;
}
