html{
    font-size: 30px;
}




@media screen and (max-width: 800px){
    
    
    body{

        font-size: 20px;
        background-color: hotpink;
        color: khaki;
    }

}


@media screen and (max-width: 400px){


    body{
        font-size: 10px;
        background-color:gray;
        color: honeydew;

    }
    

}