*{
    margin:0;
    padding: 0;
}

#container{
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content:space-between
    
}



.box1{
    width: 15vw;
    height: 15vw;
    background-color: green;
    text-align: left;

}
.box2{
    width: 15vw;
    height: 15vw;
    background-color: blue;
    text-align: left;
}
.box3{
    width: 15vw;
    height: 15vw;
    background-color: red;
    text-align: left;
}

