@font-face {
  font-family: myGothamFont;
  src: url("/css/mytesla/font/GothamLight.ttf");
}
@font-face {
  font-family: Gotham-Medium;
  src: url("/css/mytesla/font/GothamMedium.ttf");
}
@font-face {
  font-family: Gotham-bold;
  src: url("/css/mytesla/font/GothamBold.ttf");
}
@font-face {
  font-family: Gotham-book;
  src: url("/css/mytesla/font/GothamBook.ttf");
}

html { 
  scroll-snap-type: y mandatory;
  width: 100vw;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*Firefox */
}

.clr {
  clear: both;
}
.font-size-30px {
  font-size: 30px;
  line-height: 37px;
  font-weight: 45;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-13px {
  font-size: 30px;

  line-height: 21px;
}
.font-size-12px {
  font-size: 12px;
  line-height: 18px;
}
.font-size-28px {
  font-size: 28px;
  line-height: 36px;
}
.font-size-20px {
  font-size: 20px;

  line-height: 28px;
}
.font-size-9px {
  font-size: 9px;

  line-height: 9px;
}
.font-size-17px {
  font-size: 17px;

  line-height: 20px;
}
.font-fam {
  font-family: myGothamFont;
}
.font-fam-mid {
  font-family: Gotham-Medium;
}
.font-fam-bold {
  font-family: Gotham-bold;
}

.font-fam-book {
  font-family: Gotham-book;
}
#header {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D")
    no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
svg {
  fill: white;
}
.svg-wrap {
  width: 120px;
  height: 50px;
  float: left;
  margin-left: 47px;
}
.svg-wrap-container {
  width: 30%;
}
.block {
  display: block;
}
.big-box {
  width: 100%;
  height: 300px;
  border-radius: 45px;
}
.nav ul {
  display: inline;
  list-style: none;
  margin-top: 15px;
}
a {
  text-decoration: none;
}

.nav {
  width: 100%;
  height: 40px;
  position: fixed;
  text-align: center;
  display: inline;
  padding-top: 19px;
  padding-left: 1px;
}

.nav ul li a {
  color: rgb(249, 249, 249);
  line-height: 21px;
  font-size: 15px;
}
.nav ul li {
  display: inline;
  width: 15px;
  height: 5px;
  padding: 12px;
}
.nav ul li:hover {
  border: initial black 1px;
  background: rgb(120, 125, 133);
  transition: 0.5;
  border-radius: 45px;
}

.nav-1 {
  float: right;
  margin-right: 2%;
}

.nav-2 {
  margin: 0 auto;
}
/* Sidebar */
.sidbar-container {
  width: 10%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
.sidbar {
  position: absolute;
  top: 30%;
  margin-left: 10px;
}
.sidbar li {
  margin: 0;
}
.sidbar li a {
  font-size: 30px;
  font-weight: 400;
  width: 2px;
  color: white;
  opacity: 0.5;
}
.sidbar-item {
  opacity: 0.2;
  color: transparent;
}

.sidbar li :hover {
  opacity: 1;
  color: white;
  cursor: pointer;
}
.section-body h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 14%;
  left: 45%;
  font-weight: 500;
  line-height: 48px;
}
/* Description */
.left-spedometer-mi {
  width: 100%;
  height: 100%;
  position: relative;
}
#speed-to-60 {
  float: left;
  width: 20%;
  height: 100%;
}

.speed {
  position: absolute;
  width: 40px;
  height: 35px;
  top: 5px;
  left: 5px;
}

.tcl-speedometer__needle {
  width: 28px;
  height: 18px;
  transform: rotate(90deg);
  position: absolute;
  top: 17px;
  left: 18px;
}
.speed-time {
  position: absolute;
  left: 50px;
}
.section-description {
  width: 70%;
  height: 80px;
  color: white;
  position: absolute;
  top: 80%;
  left: 28%;
}
.section-descriptin-rghit {
  background: white;
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: 95%;
}
.section-descriptin-rghit:hover {
  cursor: pointer;
}

.section-descriptin-rghit img {
  position: absolute;
  top: 25%;
  left: 20%;
}
.section-description-left {
  width: 60%;

  float: left;
}

.speed-rang {
  position: absolute;
  top: 42px;
  left: 20px;
}

.box {
  width: 120px;
  height: 100%;
}
#mi-range {
  margin-left: 32%;
}
#range {
  margin-top: 5px;
  margin-left: -3px;
}
.button {
  float: right;
  height: 100%;
  width: 20%;
  text-align: center;
}
.button input {
  margin-top: 15px;
  border: solid white 2px;
  border-radius: 50px;
  padding: 10px 35px;
  color: white;
  background: Transparent;
  cursor: pointer;
}
.button input:hover {
  background: white;
  color: black;
}

#awd {
  position: absolute;
  left: 61%;
  bottom: 0px;
}
.awm-text-2 {
  margin-top: 4px;
  margin-left: 1px;
}

/* ************************************************************************ */
/* Sectoion 2 */
.section-2 {
  width: 100%;
  height: 100vh;
}
.sec-2-left {
  float: left;
  width: 30%;
  height: 100vh;
  padding: 0 50px;
}
.sec-2-right {
  float: right;
  width: 70%;
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ba4f4fe9-5c46-48c2-ad03-a5c7bf68f30c/bvlatuR/std/2880x1800/model_3_safety_hero")
    no-repeat center center/cover;
}
#sec-2-h1 {
  color: #181b21;
}
.sec-2-left-h2 {
  color: #181b21;
}
.sec-2-head {
  display: block;
  margin-top: 20px;
  padding-top: 30px;
}
.sec-2-safety-des {
  color: #393c41;
  line-height: 1.5em;
  padding-top: 15px;
}

.five-star-rating {
  background: rgb(242, 242, 242);
  margin-top: 20px;
}
.big-box-h2 {
  width: 90%;
  color: #181b21;
  text-align: center;
  line-height: 1.7em;
  padding: 10px 20px;
}

/* five stars  */

.stars {
  float: right;
}
.sub-element {
  float: left;
}
.five-star-ratin-body-elemnt {
  width: 100%;
  height: 20px;
  padding: 17px 17px 20px 20px;
}

.five-star-ratin-body {
  color: #393c41;
}

.learn-and-order {
  width: 100%;
  height: 40px;
}

.learn-and-order-round {
  width: 400px;
  height: 50px;
  margin-left: 10px;
}
.btn-round {
  border: solid black 3px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: rgb(57, 60, 65);
  position: relative;
  z-index: 2;
  top: 4px;
}
.btn-normal {
  border: solid black 3px;
  width: 130px;
  height: 40px;
  border-radius: 50px;
}
.learn-and-order-round input:hover {
  cursor: pointer;
  background: black;
  color: #fff;
}

/* Section 3 */

.box-2 {
  width: 300px;
  height: 150px;
}
.sec-3-main {
  width: 100%;
  height: 60vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop")
    no-repeat center center/cover;
}

.section-description-2 {
  width: 100%;
  height: 140px;
  text-align: center;
  float: right;
}
.left-spedometer-mi-2 {
  width: 70%;
  height: 100%;
  position: relative;
  margin: auto;
}

.sec-3-body {
  width: 100%;
  height: 62%;
}
.white {
  color: white;
}
#awd-2 {
  float: right;
}
#speed-to-60-2 {
  float: left;
  line-height: 1.7em;
}
#mi-range-2 {
  float: left;
}
/* Footer */
.sec-3-footer {
  width: 100%;
  height: 41.5vh;
}
.sec-3-footer-content {
  width: 70%;
  height: 100%;
  margin: auto;
  padding-top: 50px;
}
.sec-3-footer-left {
  width: 38%;
  height: 100%;
  float: left;
}
.learn-and-order span {
  margin: 0px 10px;
}
.sec-3-footer-right {
  color: #393c41;
}
.sec-3-footer-left h1 {
  margin-bottom: 5px;
}